

<div class="col-md-12 col-lg-12  overflow-auto" style="height:calc(100% - 100px);">

        <div class="left-pane col-md-3 col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
        </div>
        
        <div class="right-pane col-md-9 col-lg-9">
                 
                <div class="alert alert-success" role="alert">Success alert sample bootstrap</div>
                <div class="alert alert-info" role="alert">Info alert sample bootstrap</div>
                <div class="alert alert-warning" role="alert">Warning alert sample bootstrap</div>
                <div class="alert alert-danger" role="alert">Danger alert sample bootstrap</div>         
        </div>
    </div>




</section>